<h1>Students</h1>
<p style="text-align: right;">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>
<%= link_to "Add new Student", new_student_path%>




  <div class="Rtable Rtable--5cols Rtable--collapse"">

  <div style="order:0;" class="Rtable-cell Rtable-cell--head"><h3>Name</h3></div>
  <div style="order:0;" class="Rtable-cell Rtable-cell--head"><h3>Age</h3></div>
  <div style="order:0;" class="Rtable-cell Rtable-cell--head"><h3>Edit</h3></div>
  <div style="order:0;" class="Rtable-cell Rtable-cell--head"><h3>Show</h3></div>
  <div style="order:0;" class="Rtable-cell Rtable-cell--head"><h3>Delete</h3></div>
  <% current_user.students.each do |student| %>
     
        <div  class="Rtable-cell" ><%= student.name%></div>
    
            
        <div  class="Rtable-cell"><%= student.age%></div>
   

  		<div  class="Rtable-cell"><%= link_to "Show", student_path(student)%></div>
  	
  		<div  class="Rtable-cell"><%= link_to "Edit", edit_student_path(student)%></div>
  	
   		<div  class="Rtable-cell"><%= link_to "Delete",student_path(id:student.id) , method: :delete%></div>  
    <% end %>
  
</div> 

  
   
     