<h1>Students</h1>
<%= link_to "Add new Student", new_student_path%>

<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>edit</th>
      <th>Show</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
   <% @students.each do |student| %>
      <tr>
        <td><%= student.name%></td>
        <td><%= student.age%></td>
         <td><%= link_to "Show", student_path(student)%></td>
        <td><%= link_to "Edit", edit_student_path(student)%></td>

        <td><%= link_to "Delete",student_path(id:student.id) , method: :delete%></td>
       
        
      </tr>
    <% end %>
     </tbody>
</table>